@charset "utf-8";
@import "normalize";

body {
  background: #fbfeff;
  padding: 2rem;
  font-family: "europa", Arial, sans-serif;
  font-size: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 0.4rem;
}

nav img {
  width: 2.5rem;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

body > header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

body > header nav {
  margin-left: auto;
}

.brand h1 {
  color: #00A1CB;
  font-family: "lobster",serif;
  font-size: 3rem;
  margin: 0;
  text-shadow: 0.1rem 0.2rem 0rem #113F8C;
  cursor: url('../images/duchrabbit.gif'), default;
}

.welcome {
  width: 64.6rem;
  height: 10.2rem;
}

.title {
  display: flex;
}

.brand h1 {
  display: flex;
  position: absolute;
  top: 8.5rem;
  left: 5.5rem;
}

.brand h1 > div {
  padding-bottom: 1rem;
}

.brand h1 > div:nth-child(2) {
  margin: 0 0 0 0.8rem;
  overflow: hidden;
  width: 0;
  transition: width 1s;
}

.brand h1 > div:nth-child(2) div  {
  white-space: nowrap;
}

.brand h1:hover div:nth-child(2) {
  width: 20.5rem;
  transition: width 1s;
}

.brand h1 div:nth-child(3) {
  width: 12rem;
  position: relative;
}

.brand h1 div:nth-child(3) strong {
  font-family: "europa",Arial, sans-serif;
  color: black;
  text-shadow: none;
  font-size: 0.68rem;
  display: block;
  text-align: right;
  position: absolute;
  width: 31.9rem;
  right: 0.9rem;
  bottom: 0.2rem;
}

.circle-crop {
  width: 10rem;
  height: 10rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 0.1rem solid #113F8C;
}

.circle-crop img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

header {
  padding-bottom: 2.5rem;
}

.diz-mai-name {
  background-color: #00A1CB;
  color: rgb(233, 251, 255);
  padding: 0.4rem 0.8rem;
  cursor: url('../images/duchrabbit.gif'), default;
}

.diz-mai-name span {
  position:relative;
  top: 0;
  transition: top 0.25s;
}

.diz-mai-name:hover span {
  top: -0.2rem;
  text-decoration: underline;
  transition: top 0.25s;
}

.strikethrough {
  opacity: 0.5;
  text-decoration: line-through;
}

section h1 {
  color: #616161;
}

section h2 {
  font-size: 1.2em;
}

.creds h2 {
  margin-bottom: 0;
}

.creds h3 {
  margin-top: 0;
  font-size: 1em;
  font-weight: 100;
}

.creds p {
  border-left: 1rem solid #00A1CB;
  padding-left: 1.2rem;
}

.creds hr{
  border: 0.1rem solid #113F8C;
  opacity: 0.2;
}

.project-link {
  color: black;
  text-decoration: none;
}

.project-link:hover {
  color: #616161;
}

.show-case-image-wrap {
  display: flex;
  padding-bottom: 2rem
}

.show-case-image {
  flex: 1 0 50%;
}

footer {
  margin: 2rem 0 1rem;
  text-align: right;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.project--box {
  margin: 1rem 0;
}

.project--box h3 {
  font-weight: bold;
}

.project--box .project--box--content {
  display: flex;
  background: #E4E4E6;
  padding: 1rem;
}

.project--box--content > div {
  flex: 1;
  max-height: 325px;
  overflow: hidden;
}

.project--box--content > div:nth-child(2) {
  flex: 0.25;
}

.project--links {
  float: right;
}

.project--links a {
  font-size: 1rem;
  font-weight: normal;
}

.project--links a:hover {
  text-decoration: underline;
}
