<header>
  <div class="brand">
    <div class="circle-crop">
      <img src="images/avatar.jpg" width=100 height=100 />
    </div>
    <h1>
      <div>Janice</div>
      <div><div>Kyla Nascimento</div></div>
      <div>
        Smith
        <strong>Software Engineer. Biologist. Adventurer.</strong>
      </div>
    </h1>
  </div>
  <nav class="main-nav">
    <ul>
      <li>
        <%= link_to '<img src="images/gir.gif">', '/index.html', :relative => true %>
      </li>
      <li>
        <a href="https://github.com/jks8787" target="_blank">
          <img src="images/adventure-cat.png">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/theorynest" target="_blank">
          <img src="images/twitter-128.png">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/janiceknsmith/" target="_blank">
          <img src="images/linkedin.png">
        </a>
      </li>
    </ul>
  </nav>
</header>
<section class="creds projects">
  <h1>&gt; janice --projects</h1>
  <h2><em>Professional Projects</em></h2>

  <h2>America's Test Kitchen - Flagship Content Site</h2>
  <div><em>January 2016 – Present</em></div>
  <p>
    <span>
      Ask:
    </span>
    <ul>
      <li>
        A solution to move the team forward as we continued with re-launching the various products.
        We moved fast as a team and tried a lot of new things, we have 4 different implisations fo React in various places in our codebase along with two different ways to use Ember.
        It was time to think about where we wanted to go with all those ideas
      </li>
      <li>
        A pattern that could be picked up by the exisiting team and new members quickly, and allow us to spin up features quickly.
        Our enginnering team had tried a lot of things, and we were seeing what we really wanted was something we could use easily.
      </li>
      <li>
        A set of practices that worked with what we did have, so apps and sites could be updated in parts, or continue to function as we moved forward.
      </li>
      <li>
        An artictechture that could be applied to various content sites as well as other more complex apps in the possible future.
      </li>
    </ul>
  </p>
  <p>
    <span>
      My Anwser:
    </span>
    <ul>
      <li>
        a proposed solution in regards to how we might arcitecht a code base that unified all the apprches used so far, and addressed the various items in "The Ask".
      </li>
      <li>
        a starter kit taloired to the ATK team and for our needs, which demonstrates that solution in a very simple TODO app example
      </li>
      <li>
        a refernece or prototype application that demponstrates how the starter kits woud be used for an app similair to the first one to be diverleiverd for the company wide roadmap,
        in this case  teh refrence app covered key integrations with third party softearw sued by the buisnees, server side rendering for speed and SEO, and consumption of data from a JSON API endpoint that lies in out "legacy" Rails app.
      </li>
      <li>
        a slightly less tangionable but also important deloveriable was to bring other new team members up to speed, during the above process I was given the opterutinty to train an Enginnering Intern,
        who was farmiliar with Javascript but not with React or Node, to come up to speed and become a full contrinnubting memeber on in the refecence app and beyond
      </li>
      <li>
        the final develierval being being the site that was built and went live to prodciont as the  New ATK.
        this was after some wider feedback, buy-in from the director of enginnering and the additon of more enginnering power, UX and desgin to round out the team. We delivered the app, to spec and before the deadline.
      </li>
    </ul>
    <span class="show-case-image-wrap">
      <span class="show-case-image">
        <span>Before:</span>
        <img src="images/8125-old.png" width=100% height=100%>
      </span>
      <span class="show-case-image">
        <span>After:</span>
        <img src="images/8125.png" width=100% height=100%>
      </span>
    </span>
    <span>
      <a class='project-link' href="https://www.americastestkitchen.com/" target="_blank">
        Explore America's Test Kitchen
      </a>
    </span>
  </p>
  <hr>

  <h2><em>Personal Projects</em></h2>

  <h2>Does-React-Make-You-Sad? -- The Quiz </h2>
  <div><em>September 2016 – October 2016</em></div>
  <p>
    <span>
      Ask:
    </span>
    <ul>
      <li>
        A resource to point to when I meet engineers who are having issues with React
      </li>
      <li>
        An intervaticve way for an enginner to get pointers based on what they are up to specifically
      </li>
    </ul>
  </p>
  <p>
    <span>
      My Anwser:
    </span>
    <ul>
      <li>
        A quiz app with questions and suggestions based on the React Makes You Sad flowchart by Dan Abramov
      </li>
      <li>
        As a quiz users find the information right for them, in a way that is a little less overwhelming than the original very detailed flowchart
      </li>
    </ul>
    <span class="show-case-image-wrap">
      <span class="show-case-image">
        <span>Flowcart by Dan an Abramov:</span>
        <img src="images/flowchart.png" width=100% height=100%>
      </span>
      <span class="show-case-image">
        <span>Quiz By Me:</span>
        <img src="images/quiz.png" width=100% height=100%>
      </span>
    </span>
    <span>
      <a class='project-link' href="https://jks8787.github.io/reactMakesYouSadTheQuiz/" target="_blank">
        Take the Quiz!
      </a>
      <a class='project-link' href="https://github.com/jks8787/reactMakesYouSadTheQuiz" target="_blank">
        See The Code :)
      </a>
    </span>
  </p>

  <h2>Garden-Mapper -- a garden planning app</h2>
  <div><em>October 2016 - Present</em></div>
  <p>
    To generate maps, or layouts for planting a garden
  </p>
  <p>
    <a class='project-link' href="https://garden-planning-jks8787.herokuapp.com/" target="_blank">
      View Project
    </a>
    <br/>
    <a class='project-link' href="https://github.com/jks8787/GradenPlanningApp" target="_blank">
      See Github
    </a>
  </p>
</section>
