<header>
  <div class="brand">
    <div class="circle-crop">
      <img src="images/avatar.jpg" width=100 height=100 />
    </div>
    <h1>
      <div>Janice</div>
      <div><div>Kyla Nascimento</div></div>
      <div>
        Smith
        <strong>Software Engineer. Biologist. Adventurer.</strong>
      </div>
    </h1>
  </div>
  <nav class="main-nav">
    <ul>
      <li>
        <%= link_to '<img src="images/gir.gif">', '/index.html', :relative => true %>
      </li>
      <li>
        <a href="https://github.com/jks8787" target="_blank">
          <img src="images/adventure-cat.png">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/theorynest" target="_blank">
          <img src="images/twitter-128.png">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/janiceknsmith/" target="_blank">
          <img src="images/linkedin.png">
        </a>
      </li>
    </ul>
  </nav>
</header>
<section class="creds projects">
  <h1>&gt; janice --projects</h1>
  <h2><em>Professional Projects</em></h2>
  <h2>America's Test Kitchen - Flagship Content Site</h2>
  <div><em>January 2016 – Present</em></div>
  <p>Developed a standard pattern using React and Redux backed by a microservice architecture to support multiple content types. The pattern developed was optimized to support responsive mobile first design, SEO, tracking and performance with server side rendering.</p>
  <p>
    <a class='project-link' href="https://www.americastestkitchen.com/" target="_blank">
      View Project
    </a>
  </p>
  <hr>
  <h2><em>Personal Projects</em></h2>
  <h2>Does-React-Make-You-Sad? -- The Quiz </h2>
  <div><em>September 2016 – October 2016</em></div>
  <p>
    A quiz app with questions and suggestions based on the React Makes You Sad flowchart, in quiz form to help users find the information right for them about how to improve working with React
  </p>
  <p>
    <a class='project-link' href="https://jks8787.github.io/reactMakesYouSadTheQuiz/" target="_blank">
      View Project
    </a>
    <br/>
    <a class='project-link' href="https://github.com/jks8787/reactMakesYouSadTheQuiz" target="_blank">
      See Github
    </a>
  </p>
  <h3>Garden-Mapper -- a garden planning app</h3>
  <div><em>October 2016 - Present</em></div>
  <p>
    To generate maps, or layouts for planting a garden
  </p>
  <p>
    <a class='project-link' href="https://garden-planning-jks8787.herokuapp.com/" target="_blank">
      View Project
    </a>
    <br/>
    <a class='project-link' href="https://github.com/jks8787/GradenPlanningApp" target="_blank">
      See Github
    </a>
  </p>
</section>
