.site-heading {
  text-align: center;
  font-weight: bold;
}

.site-heading.sub {
  text-align: center;
  font-weight: bold;
}

body {
  margin-top: 50px;
  background: whitesmoke;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #586F7C;
}

ul {
  list-style: none;
}

.hero-spacer {
  margin-top: 50px;
  text-align: center;
}

.hero-feature {
  margin-bottom: 30px;
}

.view-code-and-project {
  font-style: italic;
}

footer {
  margin: 50px 0;
}

.navbar.navbar-fixed-top.navbar-inverse {
  border-bottom: 10px solid #808F87;
  background-color: #073B3A;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: whitesmoke;
  background-color: transparent;
}

.navbar-inverse .navbar-brand {
  color: #C1CFDA;
  font-weight: normal;
}

.navbar-inverse .navbar-brand {
  color: #C3E6EB;
  font-weight: normal;
}

a.btn.btn-custom {
  color: #586F7C;
  text-decoration: none;
}

.text-muted {
  color: #586F7C;
}

#email-address {
  color: #073B3A;
}

#footer-info {
  color: #586F7C;
  text-decoration: none;
}

#footer {
  width: 100%;
  margin-top: 40px;
}

#footer ul li {
  display: inline-block;
  padding-left: 20px;
  color: #586F7C;
}

.education.list li {
  display: block;
  list-style-type: square;
  list-style-position:inside;
}

.skills.list li {
  display: block;
  font-size: 17px;
  list-style-type: square;
  list-style-position:inside;
}

#education {
  margin-bottom: 40px;
}

.project-header {
  text-align: center;
}
